.main{
    background-color: #080808;
    
}
.main-image{
   margin:auto;
   text-align:center;
   margin-top: 10px;
   width:60%;
   height:450px;

}
.main-text-up{
    position:absolute;
    color:#FFFFFF;
    right:100px;
    top:200px;
    font-weight: 800;
    font-size: 2.5rem;
}
.high{
    color:#FF8C00;	
}
.outer{
    text-align: center;
    background-color: #080808;
}
.main-text-down{
    position:absolute;
    color:#FFFFFF;
    right:110px;
    top:250px;
    font-weight: 800;
    font-size: 2rem;
}
.services{
    margin:40px 0 40px 0;
    background-color: #080808;
    padding-top:30px;
}
.services-pic {
	margin-left: -15px;
	margin-right: -15px;
}
.services-pic img {
	height: 350px;
	min-width: 100%;
}
.services-item {
	margin-left: -15px;
	margin-right: -15px;
	background: #141414;
	padding-top: 0px;
	position: relative;
	padding-left: 30px;
	padding-right: 45px;
    height: 150px;
   
}
.services-item.bg-gray {
	background: #1e1e1e;
}
.services-item.pd-b {
	padding-top: 0px;
}
.services-item img {
	position: absolute;
	left: 35px;
    top: 20px;
    width: 15%;
}
.services-item h4 {
	font-size: 0.95rem;
	color: #ffffff;
	font-weight: 600;

    margin-bottom: 40px;
    position: relative;
    top:80px;
    right:45px;
    padding-top: 0;
    padding-bottom: 0;
  
    
}  
.services-item p {
    color: #bdbdbd;
    position: relative;
    top: 50px;
    font-size: 9px;
}
.outer-row{
    padding-bottom: 50px;
}
.pad{
    padding-bottom: 200px;
}

/* classes section */

.si-text{
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
}

.si-text h4 {
	font-size: 0.9rem;
	font-weight: 600;
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 0;
    position:absolute;
    bottom:18px;
}
 .si-text span {
	font-size: 0.5rem;
	color: #ffffff;
}
 .si-text span i {
	color: #e85d39;
    margin-right: 4px;
    
}
.icon-m{
    width:8px;
}
.custom{
    width: 300px;
    height:150px;
    margin-left:5px;
    margin-right: 5px;
}
.styling{
  margin-bottom:40px;
  margin-left:auto;
  margin-right:auto;
  width:700px;
}
.random{
    padding-left:5px;
    padding-right:5px;
}
.title{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
  

.latest-blog-section {
	padding-bottom: 50px;
}
.latest-blog-section .section-title {
	margin-bottom: 55px;
}
.latest-blog-section.recommend {
	padding-top: 0;
}
.latest-blog-section.recommend h3 {
	font-weight: 600;
	color: #111111;
	text-transform: uppercase;
	margin-bottom: 52px;
}

.blog-section {
	padding-bottom: 50px;
}
.single-blog-item {
	margin-bottom: 42px;
}
.single-blog-item img {
	min-width: 100%;
	margin-bottom: 30px;
}
.single-blog-item .blog-widget {
	margin-bottom: 10px;
}
.single-blog-item .blog-widget .bw-date {
	font-size: 14px;
	color: #bdbdbd;
	display: inline-block;
	margin-right: 8px;
}
.single-blog-item .blog-widget .tag {
	font-size: 14px;
	color: #f15d44;
}
.single-blog-item h4 a {
	color: #111111;
	font-weight: 600;
	line-height: 30px;
}
/*----------------------------
  Blog Details Hero Section
----------------------------*/

.blog-details {
	padding-top: 50px;
}
.blog-details-hero {
	height: 633px;
	padding-top: 280px;
}
.bd-hero-text {
	text-align: center;
}
.bd-hero-text span {
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	background: #f15d44;
	letter-spacing: 2px;
	border-radius: 2px;
	padding: 4px 16px;
	display: inline-block;
}
.bd-hero-text h2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 600;
	line-height: 60px;
	text-transform: uppercase;
	margin-top: 15px;
}
.bd-text .bd-title {
	margin-bottom: 55px;
}
.bd-text .bd-title p {
	font-size: 17px;
	line-height: 30px;
}
.bd-text .bd-pic {
	margin-bottom: 35px;
}
.bd-text .bd-pic img {
	min-width: 100%;
	margin-bottom: 20px;
}
.bd-text .bd-more-text {
	margin-bottom: 52px;
}
.bd-text .bd-more-text .bm-item h4 {
	font-weight: 600;
	-webkit-column-rule: #111111;
	-moz-column-rule: #111111;
	column-rule: #111111;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.bd-text .bd-more-text .bm-item p {
	font-size: 17px;
	line-height: 30px;
}
.bd-text .bd-quote {
	background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background: -o-linear-gradient(left, #eb3c5a, #f67831);
	background: linear-gradient(to right, #eb3c5a, #f67831);
	padding: 40px 60px 30px 60px;
	position: relative;
	border-radius: 10px;
	z-index: 1;
	margin-bottom: 52px;
}
.bd-text .bd-quote samp {
	position: absolute;
	left: 45px;
	top: 35px;
	font-size: 89px;
	color: #ffffff;
	opacity: 0.1;
	line-height: 68px;
	z-index: -1;
}
.bd-text .bd-quote p {
	font-size: 24px;
	color: #ffffff;
	line-height: 36px;
	margin-bottom: 23px;
}
.bd-text .bd-quote .quote-author h5 {
	color: #ffffff;
	margin-bottom: 4px;
}
.bd-text .bd-quote .quote-author span {
	font-size: 14px;
	color: #ffffff;
}
.bd-text .bd-last-para {
	margin-bottom: 55px;
}
.bd-text .bd-last-para p {
	font-size: 17px;
	line-height: 30px;
}
.bd-text .tag-share {
	overflow: hidden;
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
	margin-bottom: 60px;
}
.bd-text .tag-share .tags {
	float: left;
}
.bd-text .tag-share .tags a {
	font-size: 12px;
	color: #111111;
	text-transform: uppercase;
	background: #ebebeb;
	letter-spacing: 2px;
	border-radius: 2px;
	padding: 4px 16px;
	display: inline-block;
	font-weight: 500;
	margin-right: 6px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.bd-text .tag-share .tags a:hover {
	color: #ffffff;
	background: #f15d44;
}
.bd-text .tag-share .tags a:last-child {
	margin-right: 0;
}
.bd-text .tag-share .social-share {
	float: right;
}
.bd-text .tag-share .social-share span {
	font-size: 18px;
	color: #111111;
	display: inline-block;
}
.bd-text .tag-share .social-share a {
	color: #111111;
	display: inline-block;
	font-size: 16px;
	margin-left: 25px;
}
.bd-text .blog-author {
	margin-bottom: 55px;
}
.bd-text .blog-author .ba-pic {
	background: #f7f7f7;
	padding: 28px 0;
	border-radius: 2px;
	text-align: center;
}
.bd-text .blog-author .ba-pic img {
	height: 144px;
	width: 144px;
	border-radius: 50%;
	border: 10px solid #ffffff;
}
.bd-text .blog-author .ba-text {
	padding-top: 35px;
}
.bd-text .blog-author .ba-text h5 {
	color: #111111;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 12px;
}
.bd-text .blog-author .ba-text p {
	font-size: 17px;
	margin-bottom: 30px;
}
.bd-text .blog-author .ba-text .bt-social a {
	display: inline-block;
	font-size: 14px;
	color: #111111;
	margin-right: 25px;
}
.bd-text .leave-comment h3 {
	color: #111111;
	font-weight: 600;
	margin-bottom: 32px;
}
.bd-text .leave-comment form input {
	width: 100%;
	height: 46px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	font-size: 16px;
	margin-bottom: 30px;
	color: #ebebeb;
}
.bd-text .leave-comment form input:focus {
	color: #111111;
}
.bd-text .leave-comment form textarea {
	width: 100%;
	height: 110px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	font-size: 16px;
	padding-top: 10px;
	color: #ebebeb;
	margin-bottom: 42px;
	resize: none;
}
.bd-text .leave-comment form textarea:focus {
	color: #111111;
}
.bd-text .leave-comment form button {
	font-size: 16px;
	color: #ffffff;
	padding: 10px 33px;
	display: inline-block;
	background: -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
	background: -o-linear-gradient(left, #eb3c5a, #f67831);
	background: linear-gradient(to right, #eb3c5a, #f67831);
	border: none;
}
.rectify{
    width:40px;
}